p {
    color: #FFF;
    margin-left: 4px;
}

h3 {
    color: #FFF;
    text-align: center;
}

h4 {
    color: #FFF;
    text-align: center;
}

img.center {
    display: block;
    margin: 0 auto;
    height: 150px;
    width: 150px;
    background-color: #73A0E6;
}

.AppContainer {
    margin:0 auto;
    max-width:890px;
    font-size:21px;
    text-align: center;
}

@media screen and (min-width:1236px) {
    .AppContainer {
        max-width:1190px
        }
}

.AdaptiveFiltersBar {
    border-bottom:1px solid #e1e8ed;
    margin:0 auto;
}
.AdaptiveFiltersBar-nav {
    text-align:center;
}
.AdaptiveFiltersBar-item { 
    border-bottom:0 solid #55acee;
    -moz-box-sizing:border-box;
    box-sizing:border-box;
    display:inline-block;
    height:46px;
    transition:all .15s ease
}
AdaptiveFiltersBar-item:hover,.AdaptiveFiltersBar-item:focus,.AdaptiveFiltersBar-item.is-selected {
    border-bottom-width:4px;
    border-bottom-color:#55acee;
}
.AdaptiveFiltersBar-item--more {
    vertical-align:top;
}
.AdaptiveFiltersBar-target {
    color:#55acee;
    display:block;
    padding:14px 0;
}
.AdaptiveFiltersBar-target--link { 
    text-decoration:none;
}
.AdaptiveFiltersBar-target--link:hover,.AdaptiveFiltersBar-target--link:focus {
    text-decoration:none;
}
.AdaptiveFiltersBar-target--more {
    padding:14px 24px 10px;
}
.AdaptiveFiltersBar-target--more:focus {
    outline:0;
}
.AdaptiveFiltersBar-label { 
    border-right:1px solid #ccd6dd;
    padding-left:24px;
    padding-right:24px;
}
.AdaptiveFiltersBar-moreCaretIcon {
    font-size:8px;
    line-height:8px;
}
.AdaptiveFiltersDropdown.dropdown-menu {
    border-top-left-radius:0;
    border-top-right-radius:0;
    padding:8px 0;
    margin-top:4px;
    text-align:left;
}
.AdaptiveFiltersDropdown.dropdown-menu li>.AdaptiveFiltersDropdown-target {
    color:#66757f;
    padding-left:10px;
    padding-right:30px;
}
.AdaptiveFiltersDropdown.dropdown-menu li>.AdaptiveFiltersDropdown-target:hover,.AdaptiveFiltersDropdown.dropdown-menu li>.AdaptiveFiltersDropdown-target:focus {
    background-color:#55acee;
    color:#fff;
}
.AdaptiveFiltersDropdown.dropdown-menu li>.AdaptiveFiltersDropdown-target--advanced {
    color:#55acee;
    font-weight:bold;
}
.AdaptiveFiltersDropdown-label {
    padding-left:20px;
}
.AdaptiveFiltersDropdown-label.is-selected {
    padding-left:8px;
}
.AdaptiveFiltersDropdown-checkIcon {
    color:#55acee;
}
.AdaptiveFiltersDropdown-target:hover .AdaptiveFiltersDropdown-checkIcon {
    color:#fff;
}

.cust-jumbo {
    background-color: #73A0E6;
}

.cust-jumbo .h1,.cust-jumbo h1 {
    color:inherit;
}
.cust-jumbo p {
    margin-bottom:15px;
    font-size:21px;
    font-weight:200;
}
.cust-jumbo>hr {
    border-top-color:#d5d5d5;
}
.container .cust-jumbo,.container-fluid .cust-jumbo {
    border-radius:6px;
}
.cust-jumbo .container {
    max-width:100%;
    color: #FFFFFF;
    font-family: Georgia, serif;
    font-style: italic;

}

@media screen and (min-width:768px) {
    .cust-jumbo {
        padding-top:48px;
        padding-bottom:48px;
    }
    .container .cust-jumbo,.container-fluid .cust-jumbo {
        padding-right:60px;
        padding-left:60px;
    }
    .cust-jumbo .h1,.cust-jumbo h1 {
        font-size:63px
    }
}
